@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Ubuntu", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #18294f;
}

h1 {
  color: #fff;
  margin: 0;
  padding: .3em 0 .5em;
  text-align: center;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

li {
  display: block;
  background-color:#18294f;
}

a,
a:link {
  color: #6c8fe0;
  text-decoration: none;
  display: block;
  padding: .75em;
  font-size: 1.125rem;
}

a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  li {
    float: left;
    display: inline-block;
    width: 50%;
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {

  li {
    width: 25%;
  }
}

@media only screen and (min-width: 60em) {

  header {
    padding: .75em;
  }

  h1 {
    float: left;
    display: inline-block;
    padding: .3em 0;
  }

  ul {
    float: right;
    display: inline-block;
    min-width: 40em;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 90em) {


}
